<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		<meta charset="utf-8">
			<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
			<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	</head>
	<body>
		<div class="home main" style="text-align: center;">
			<h1>Home</h1>
            <a href="{{ url_for('customer_explore') }}">
                <input type="button" value="Explore" class="Customer" style="margin-left: 0px" id="home">
            </a>
            <a href="{{ url_for('cus_order_history') }}">
                <input type="button" value="View Order History" class="Customer" style="margin-left: 0px" id="home">
            </a>
            <a href="{{ url_for('current_information') }}">
                <input type="button" value="View Current Information" class="Customer" style="margin-left: 0px" id="home">
            </a>
            <a href="{{ url_for('manage_food_truck')}}">
            	<input type="button" value="Manage Food Truck" class="Manager" style="margin-left: 0px" id="home">
            </a>
            <a href="{{ url_for('foodtruck_summary') }}">
                <input type="button" value="View Food Truck Summary" class="Manager" style="margin-left: 0px" id="home">
            </a>
            <a href="{{ url_for('manage_building_station') }}">
            	<input type="button" value="Manage Building & Station" class="Admin" style="margin-left: 0px" id="home">
            </a>
            <a href="{{ url_for('manageFood') }}">
            	<input type="button" value="Manage Food" class="Admin" style="margin-left: 0px" id="home">
        	</a>
        	<a href="{{ url_for('logout') }}">
            	<input type="button" value="Logout" class="All" style="margin-left: 0px" id="home">
        	</a>
		</div>
		<script type="text/javascript">
			if ('{{ userType }}'.includes("Customer")) {
				$('input.Customer').show();
			}

			if('{{ userType }}'.includes("Manager")) {
				$('input.Manager').show();
			}

			if('{{ userType }}'.includes("Admin")) {
				$('input.Admin').show();
			}
			$('input.All').show();
		</script>
	</body>
</html>